@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $grey.darken-4
  accent: $red.accent-2
  secondary: $grey.darken-3
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
  paperWhite: #ffffff
  whiteish: #eeeeee
  gameMenuBlueDark: #2f96ea
  gameMenuBlueLight: #30c8ca
  gameMenuActiveBlueDark: #56a6ef
  gameMenuActiveBlueLight: #57a9ec
  gameOrangeDark: #fe844f
  gameOrangeLight: #feb96b
  gamePinkDark: #c659ff
  gamePinkLight: #fd81bf
  gameGreenBlue: #3bbed6
  gameGreenMain: #02d7a5
}

@import '../../node_modules/vuetify/src/stylus/main'
